@import "@fontsource/estedad/400.css";
@import "@fontsource/estedad/900.css";

:root {
	color-scheme: light dark;
	--theme-dark: oklch(0.10 0.12 305);
	--theme-light: oklch(0.99 0.015 300);

	--background: light-dark(var(--theme-light), var(--theme-dark));
	--foreground: light-dark(var(--theme-dark), var(--theme-light));
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Estedad", "Helvetica Neue", Helvetica, sans-serif;
}

main {
	margin: auto;
	padding: 1rem;
	max-width: 30rem;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin-bottom: 0;
}

h2 {
	margin-bottom: -0.5rem;
}

p.subtitle {
	margin-top: -1.8rem;
	font-size: 1.3rem;
}

p {
	font-weight: 400;
}

li {
	margin: 0.9rem 0;
}

footer {
	margin-top: 2rem;
	margin-bottom: 1.3rem;
	text-align: center;

	p {
		margin: 0.35rem;
	}
}

a {
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;

	color: light-dark(oklch(50% 0.1 242), oklch(85% 0.1 242));
	&:visited {
		color: light-dark(oklch(50% 0.1 275), oklch(85% 0.1 300));
	}
}
